.card-wrapper {
  position: absolute;
  top: 1.72rem;
  right: 3.75rem;
}

.user-card {
  background: var(--color-gray-profile);
  border-radius: 1.25rem;
  box-shadow: 0 4px 4px var(--color-shadow);
  padding: 1.25rem;
  width: 27.5rem;
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  padding-left: 2.5rem;
  margin-bottom: 0.625rem;
}

.user-card .main-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.5rem;
}

.user-card .user-name {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 1rem;
}

.user-card .user-name p {
  font-size: 1.75rem;
  font-weight: 600;
}

.user-card .user-name .surname {
  text-transform: uppercase;
}

.user-card .user-avatar {
  width: 7.5rem;
  height: 7.5rem;
  border-radius: 50%;
  box-shadow: 0 4px 4px var(--color-shadow);
}

.user-card .log-out-btn {
  cursor: pointer;
  align-self: flex-end;
}

.user-card .log-out-btn img {
  user-select: none;
  pointer-events: none;
  background: var(--color-gray-profile);
}

.additional-info {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}

.additional-info p {
  font-size: 1.125rem;
  font-weight: 400;
}

.resume {
  float: right;
  background: var(--color-gray-profile);
  border-radius: 1.875rem;
  box-shadow: 0 4px 4px var(--color-shadow);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  padding: 0.6875rem 1.375rem;
  font-size: 1.25rem;
  font-weight: 400;
  width: 13.125rem;
  cursor: pointer;
}

.resume img {
  width: 0.9375rem;
  height: 1.055rem;
}
