/* 

.picker-enter {
  opacity: 0;
}

.picker-enter-active {
  opacity: 100;
  transition: all 5s;
}

.picker-exit {
  opacity: 100;
}

.picker-exit-active {
  opacity: 0;
  transition: all 5s;
} */
/* textarea {
  position: relative;
  z-index: 3;
  background: transparent;
} */

.accordion-enter {
  /* opacity: 0; */
  overflow: hidden;
  max-width: 2.75rem;
}

.accordion-enter-active {
  /* opacity: 1;
  transition: opacity 200ms; */
  max-width: 37rem;
  transition: max-width 0.2s ease-out;
}

.accordion-exit {
  /* opacity: 1; */
  max-width: 37rem;
}

.accordion-exit-active {
  /* opacity: 0;
  transition: opacity 200ms; */
  overflow: hidden;
  max-width: 2.75rem;
  transition: max-width 0.2s ease-out;
}

.item-enter {
  opacity: 0;
}
.item-enter-active {
  opacity: 1;
  transition: opacity 400ms;
}
.item-exit {
  opacity: 1;
}
.item-exit-active {
  opacity: 0;
  transition: opacity 400ms;
}
