.page {
  background: var(--color-bg-primary);
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: relative;
}
.header-block {
  width: 100%;
  height: 42.5rem;
  background: url(../../assets/images/grsu_autumn.png) no-repeat;
  background-size: cover;
  display: flex;
  position: relative;
  border-radius: 0 0 20px 20px;
  box-shadow: 0 4px 4px var(--color-shadow);
}

.link {
  position: absolute;
  display: flex;
  gap: 0.5rem;
  bottom: 1.25rem;
  right: 1.625rem;
}

.link .icon {
  width: 1.421rem;
  height: 1.421rem;
}

.link p {
  font-weight: 400;
  font-size: 1.125rem;
  color: var(--color-white);
}

.header-block .logo {
  width: 4.75rem;
  height: 4.75rem;
  background: var(--color-white);
  margin-top: 0.625rem;
  margin-left: 2.125rem;
}

.login-card {
  width: 27.5rem;
  height: 37.5rem;
  background: var(--color-white);
  z-index: 2;
  border-radius: 1.25rem;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 8.75rem;
  text-align: center;
  box-shadow: 0 4px 4px var(--color-shadow);
}

.login-card h1 {
  font-family: "Oswald", sans-serif;
  color: var(--color-orange);
  font-weight: 700;
  font-size: 4.5rem;
  margin-top: 3.75rem;
}

.login-card h3 {
  margin-top: 2.2rem;
  font-weight: 600;
  font-size: 1.75rem;
  line-height: 2.13rem;
}

.login-card img {
  width: 1.421rem;
  height: 1.421rem;
}

.login-card .info {
  display: flex;
  justify-content: flex-end;
  padding-right: 1.16rem;
  padding-top: 1.06rem;
}

.login-form {
  width: 65%;
  margin: 0 auto;
  margin-top: 1rem;
}

.login-form .input {
  border-bottom: 2px solid var(--color-foreground);
  display: flex;
  justify-content: space-between;
  height: 2rem;
}

.login-form input {
  font-family: inherit;
  font-weight: 500;
  display: block;
  width: 100%;
  font-size: 1rem;
  padding: 0.3rem;
  background: transparent;
}

.login-form input[type="password"] {
  font-family: Verdana;
  font-weight: bold;
  letter-spacing: 0.2rem;
}

.login-form input::placeholder {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 0.875rem;
  margin-bottom: 0.5rem;
  letter-spacing: 0rem;
}

.login-form .visibility-icon {
  /* width: 1.4rem;
  height: 1rem; */
  width: 22.51px;
  height: 15.44px;
  align-self: center;
  cursor: pointer;
}

.login-form .visibility-icon.hide {
  /* width: 1.5rem;
  height: 1.1rem; */
  width: 22.51px;
  height: 17.84px;
}

.login-form .error-block {
  height: 2rem;
}

.login-form button {
  height: 3rem;
  width: 5rem;
  cursor: pointer;
  font-family: inherit;
  font-weight: 600;
  background-color: transparent;
  font-size: 1.125rem;
  text-shadow: 0 0.15rem 0.2rem var(--color-shadow);
}

.login-card .btn {
  width: 15rem;
  height: 3rem;
  background: var(--color-orange);
  border-radius: 1.875rem;
  color: var(--color-white);
  font-weight: 400;
  font-size: 1.125rem;
  font-family: inherit;
  margin-top: 1rem;
  box-shadow: 0 4px 4px var(--color-shadow);
  cursor: pointer;
}

.login-card .logo {
  display: flex;
  gap: 0.5rem;
  width: fit-content;
  height: fit-content;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 1.9rem;
  left: 50%;
  transform: translateX(-50%);
}

.login-card .logo p {
  display: block;
  font-weight: 600;
}

.login-card .logo-icon {
  height: 1rem;
  width: 1rem;
  background: var(--color-foreground);
}

.login-tooltip-wrapper {
  opacity: 0;
  transition: opacity 0.5s ease;
}

.login-tooltip-wrapper.visible {
  opacity: 100;
}

.login-tooltip {
  position: absolute;
  width: 26rem;
  height: 10rem;
  background: var(--color-white);
  z-index: 3;
  border-radius: 1.25rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 4px var(--color-shadow);
  left: 100%;
  transform: translateX(0.6rem);
}

.login-tooltip .tooltip-text {
  width: 22.125rem;
  font-weight: 400;
  font-size: 1.125rem;
}

.login-tooltip .line {
  width: 7rem;
  height: 0.3125rem;
  background-color: var(--color-orange);
  border-radius: 2.5px;
}

@media (-webkit-min-device-pixel-ratio: 1.25) {
  .login-card {
    top: 6.8rem;
  }
  .header-block {
    height: 38rem;
  }
}
