.page-login {
  background: var(--color-bg-primary);
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: relative;
}
.header-block {
  width: 100%;
  height: 42.5rem;
  background: url(../../assets/images/grsu_autumn.png) no-repeat;
  background-size: cover;
  display: flex;
  position: relative;
  border-radius: 0 0 20px 20px;
  box-shadow: 0 4px 4px var(--color-shadow);
}

.link {
  position: absolute;
  display: flex;
  gap: 0.5rem;
  bottom: 1.25rem;
  right: 1.625rem;
}

.link .icon {
  width: 1.421rem;
  height: 1.421rem;
  user-select: none;
}

.link p {
  font-weight: 400;
  font-size: 1.125rem;
  color: var(--color-white);
}

.header-block .logo {
  width: 4.75rem;
  height: 4.75rem;
  margin-top: 0.625rem;
  margin-left: 2.125rem;
  user-select: none;
}

.footer-block {
  width: 65%;
  height: 25rem;
  margin: 0 auto;
  background: url(../../assets/icons/CirclesLogin.svg) no-repeat;
  background-size: contain;
}

@media (-webkit-min-device-pixel-ratio: 1.25) {
  .header-block {
    height: 41.8rem;
  }
}
