.progress-semester-list {
  position: relative;
  top: 3rem;
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  z-index: 2;
  height: fit-content;
  min-height: 15.23rem;
  min-width: 11.5rem;
}

.progress-semester-list > li {
  width: 11.25rem;
  height: 3.75rem;
  box-shadow: 0 4px 4px var(--color-shadow);
  border-radius: 1.875rem;
  background-color: var(--color-gray-profile);
  font-weight: 400;
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.progress-semester-list li.active {
  background-color: var(--color-orange);
  color: var(--color-white);
}
