.profile-semester-list {
  position: relative;
  left: 3.5rem;
}

.profile-semester-list .subject-list-enter {
  max-height: 0;
  overflow: hidden;
}

.profile-semester-list .subject-list-enter-active {
  max-height: 100rem;
  transition: max-height 0.6s;
}

.profile-semester-list .subject-list-exit {
  max-height: 100rem;
}

.profile-semester-list .subject-list-exit-active {
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.6s;
}
