.cource-list {
  position: relative;
  left: 2.5rem;
  top: 4.75rem;
  padding-bottom: 6rem;
}

.semester-list {
  position: relative;
  left: 3.5rem;
}

.subject-list {
  position: relative;
  left: 4.5rem;
}

/* animation */
.semester-list-enter {
  max-height: 0;
  overflow: hidden;
}

.semester-list-enter-active {
  max-height: 10rem;
  transition: max-height 0.5s;
}
.semester-list-exit {
  max-height: 10rem;
}

.semester-list-exit-active {
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.5s;
}

.subject-list-enter {
  max-height: 0;
  overflow: hidden;
}

.subject-list-enter-active {
  max-height: 100rem;
  transition: max-height 0.5s;
}

.subject-list-exit {
  max-height: 100rem;
}

.subject-list-exit-active {
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.5s;
}
/**/

.item {
  display: block;
  background-color: var(--color-gray-profile);
  border-radius: 1.875rem;
  box-shadow: 0 4px 4px var(--color-shadow);
  width: 8.75rem;
  height: 2.5rem;
  font-size: 1.125rem;
  font-weight: 400;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin-bottom: 1.25rem;
  transition: background-color 0.4s ease;
}

.item.active {
  background-color: var(--color-orange);
  color: var(--color-white);
}

.subject {
  width: fit-content;
  height: fit-content;
  max-width: 21.25rem;
  padding: 0.5rem 1rem;
  text-align: center;
}
