.page-main {
  width: 100%;
  animation-duration: 0.8s;
}

/* -----------------HEADER-------------------- */

.header {
  background: url(../../assets/images/grsu_autumn.png) no-repeat;
  background-size: cover;
  width: 100%;
  height: 42rem;
  border-radius: 0 0 20px 20px;
  box-shadow: 0 4px 4px var(--color-shadow);
  display: flex;
  text-align: center;
  position: relative;
  text-align: center;
}

.header .main-title {
  display: flex;
  gap: 1rem;
  flex-direction: column;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 15.5rem;
}

.header .main-title h3 {
  height: 4rem;
  text-transform: uppercase;
  font-weight: 400;
  color: var(--color-white);
  font-size: 4rem;
  text-shadow: 0 8px 8px rgba(0, 0, 0, 0.6);
}

/* -----------------MAIN SECTION------------------- */

.main-section {
  width: 100%;
  background: var(--color-bg-primary);
  margin-top: 6.25rem;
  margin-bottom: 9.625rem;
  display: flex;
  border-radius: 20px;
  position: relative;
  height: 57rem;
  padding-top: 2.5rem;
}

.main-section img {
  pointer-events: none;
}

.main-section .container {
  width: 87%;
  margin: 0 auto;
  padding-top: 2.8rem;
  background: url(../../assets/icons/CirclesMainSection.svg) no-repeat;
}

.main-section a {
  display: block;
}

.main-section .section-card {
  width: 25rem;
  height: 12.375rem;
  background: var(--color-white);
  text-align: center;
  box-shadow: 0 8px 8px var(--color-shadow);
  border-radius: 5rem;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.main-section .section-card h4 {
  font-family: "Oswald", sans-serif;
  font-weight: 700;
  font-size: 2.25rem;
  margin-bottom: 2rem;
}

.main-section .section-card p {
  display: block;
  width: 20rem;
  font-weight: 400;
  font-size: 1.125rem;
}

.main-section .university-card-block {
  width: 100%;
  position: relative;
  display: flex;
}

.main-section .university-card-block img {
  width: 100%;
  position: absolute;
}

.main-section .university-card-block a {
  margin: 0 auto;
  margin-top: 1.7rem;
}

.main-section .card-block {
  width: 24%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
}

.main-section .card-block img {
  width: 100%;
  position: relative;
}

.main-section .card-block.specialities-card-block {
  left: 15rem;
  top: 9.5rem;
}

.main-section .card-block.glossary-card-block {
  left: 50%;
  top: 16.5rem;
  transform: translateX(-50%);
  width: 21.5%;
}

.main-section .card-block.progress-card-block {
  right: 16.9rem;
  top: 12.5rem;
  width: 20.5%;
}

.main-section .card-block.specialities-card-block img {
  top: 3.9rem;
}

.main-section .card-block.glossary-card-block img {
  top: 4.5rem;
}

.main-section .card-block.progress-card-block img {
  top: 4.5rem;
}

/* -----------------FOOTER-------------------- */

.main-footer .footer-info {
  width: 100%;
  height: 39.5rem;
  background: url(../../assets/images/TressMainFooter.svg) no-repeat;
  background-size: contain;
  display: flex;
  z-index: -2;
  position: relative;
}

.main-footer .footer-info .text {
  width: 100%;
  text-align: center;
  margin-top: 10rem;
}

.main-footer .footer-info h2 {
  height: 4.5rem;
  font-family: "Oswald", sans-serif;
  font-weight: 700;
  color: var(--color-orange);
  font-size: 6rem;
  text-shadow: 0 4px 4px var(--color-shadow);
  margin-bottom: 1.2rem;
}

.main-footer .footer-info h4 {
  font-weight: 700;
  font-size: 2.25rem;
  color: var(--color-foreground);
}

@media (-webkit-min-device-pixel-ratio: 1.25) {
  .header {
    height: 38rem;
  }
  .main-section .container {
    width: 100%;
  }
  .main-section .card-block.specialities-card-block {
    left: 13rem;
  }
  .main-section .card-block.progress-card-block {
    right: 14.9rem;
  }
}
