.profile-cource-list {
  position: relative;
  left: 2.5rem;
  top: 4.75rem;
  padding-bottom: 6rem;
}

/* animation */
.profile-cource-list .semester-list-enter {
  max-height: 0;
  overflow: hidden;
}

.profile-cource-list .semester-list-enter-active {
  max-height: 10rem;
  transition: max-height 0.5s;
}
.profile-cource-list .semester-list-exit {
  max-height: 10rem;
}

.profile-cource-list .semester-list-exit-active {
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.5s;
}

.profile-cource-list .item {
  display: block;
  background-color: var(--color-gray-profile);
  border-radius: 1.875rem;
  box-shadow: 0 4px 4px var(--color-shadow);
  width: 8.75rem;
  height: 2.5rem;
  font-size: 1.125rem;
  font-weight: 400;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin-bottom: 1.25rem;
  transition: background-color 0.4s ease;
}

.profile-cource-list .item.active {
  background-color: var(--color-orange);
  color: var(--color-white);
}
