.filters {
  position: relative;
  width: 100%;
}

.filter-btn {
  width: 2.5rem;
  height: 2.5rem;
  box-shadow: 0 4px 4px var(--color-shadow);
  border-radius: 50%;
  border: none;
  background-size: 1.25rem 1.17rem;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 3rem;
}

.filter-btn.closed {
  background-image: url(../../../../assets/icons/FiltersDark.svg);
}

.filter-btn.opened {
  background-image: url(../../../../assets/icons/FiltersLight.svg);
  background-color: var(--color-orange);
}

.filter-modal {
  z-index: 1;
  display: none;
  position: absolute;
  top: -0.5rem;
  right: 2.5rem;
  padding: 1.25rem;
  background: var(--color-gray);
  border-radius: 1.25rem;
  box-shadow: 0 4px 4px var(--color-shadow);
}

.filter-modal.visible {
  display: block;
}

.filter-header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 1.25rem;
  margin-bottom: 1.25rem;
}

.filter-header p {
  font-size: 0.875rem;
  text-transform: uppercase;
  color: var(--color-orange);
  font-weight: 700;
}

.filter-icon {
  width: 1.29rem;
  height: 1.17rem;
  cursor: pointer;
}

.filter-table {
  display: flex;
  margin-bottom: 2.5rem;
}

.filter-table .table-header {
  background: #c4c4c4;
  font-weight: 600;
  padding: 0.6rem 1.125rem;
  text-transform: uppercase;
  font-size: 0.875rem;
  border-radius: 1.25rem;
  color: var(--color-foreground);
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-bottom: 1.25rem;
}

.table-education-form {
  width: 12.5rem;
  margin-right: 1.25rem;
}

.table-form-term {
  width: 7.5rem;
}

.filter-table .table-item {
  background-color: #f8f8f8;
  box-shadow: 0 4px 4px var(--color-shadow);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-weight: 400;
  font-size: 0.875rem;
  color: var(--color-foreground);
  text-transform: uppercase;
  border-radius: 1.25rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  cursor: pointer;
  transition: background-color 0.5s ease, color 0.5s ease;
}

.filter-table .table-item.active {
  background-color: var(--color-orange);
  color: var(--color-white);
}

.filter-table ul {
  display: flex;
  flex-direction: column;
  gap: 0.625rem;
}

.filter-modal .clear-btn {
  font-family: "Montserrat", sans-serif;
  background: #ff2e2e;
  border-radius: 1.25rem;
  font-size: 0.875rem;
  text-transform: uppercase;
  font-weight: 600;
  color: var(--color-white);
  width: 12.5rem;
  height: 1.875rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  position: relative;
  margin: 0 auto;
}

.filter-modal .clear-btn img {
  position: absolute;
  width: 1.05rem;
  height: 1.05rem;
  right: 1rem;
}
