.progress-page {
  overflow-x: hidden;
  width: 100%;
}

.main-progress {
  width: 100%;
  overflow: hidden;
  min-height: 50rem;
  background-image: url(../../assets/images/BgTressProgress.png);
  background-repeat: no-repeat;
  background-position: right;
  position: relative;
}

.subject-card-section {
  width: 100%;
  overflow-x: hidden;
}

.bg-circle {
  position: absolute;
  background-image: url(../../assets/images/BgCircleProgress.png);
  width: 14rem;
  height: 14rem;
  background-size: contain;
  background-repeat: no-repeat;
  top: 5rem;
}

@media (-webkit-min-device-pixel-ratio: 1.25) {
  .main-progress {
    min-height: 43rem;
    background-size: contain;
    margin-bottom: 3rem;
  }
}
