.footer-bottom {
  margin-top: 1rem;
  background: var(--color-bg-secondary);
  position: relative;
  padding-top: 4.81rem;
  padding-bottom: 2.9rem;
}
.footer-bottom .container {
  width: 82.5rem;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.6rem;
}

.footer-bottom .info {
  display: flex;
  flex-direction: column;
}

.footer-bottom .info .logos .main-logo {
  width: 4.75rem;
  height: 4.75rem;
  margin-bottom: 0.1rem;
}

.footer-bottom .info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer-bottom .info .logos {
  display: flex;
  gap: 1rem;
  align-items: flex-end;
}

.footer-bottom .logos .logo .grsu-skills-logo .logo-icon {
  height: 2rem;
  width: 2.3rem;
  margin-bottom: 0.6rem;
}

.footer-contacts {
  padding-top: 2rem;
  width: 28.8rem;
  display: flex;
  flex-direction: column;
  gap: 1.1rem;
}

.footer-contacts .contact {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.footer-contacts p,
.footer-contacts a {
  color: var(--color-white);
  font-weight: 500;
  font-size: 1.125rem;
}

.footer-bottom .footer-contacts .icon-location {
  width: 1.6rem;
  height: 2.08rem;
  margin-right: 0.5rem;
}

.footer-bottom .footer-contacts .icon-contacts {
  width: 1.95rem;
  height: 1.85rem;
}

.footer-bottom .footer-contacts .mail {
  padding-left: 2.8rem;
}

.footer-bottom .footer-map {
  display: block;
}

.footer-bottom .line {
  margin: 0 auto;
  width: 82.5rem;
  height: 4px;
  border-radius: 2px;
  background: var(--color-white);
}

.footer-bottom .circles {
  position: absolute;
  bottom: 67%;
  z-index: -1;
}

@media (-webkit-min-device-pixel-ratio: 1.25) {
  .footer-bottom .footer-map img {
    width: 35rem;
    height: 18.375rem;
    border-radius: 1.25rem;
  }

  .footer-bottom .container {
    margin-bottom: 1rem;
  }
  .footer-contacts p,
  .footer-contacts a {
    font-size: 1.1rem;
  }
}
