.footer-bottom {
  margin-top: 1rem;
  background: var(--color-bg-secondary);
  position: relative;
  padding-top: 4.81rem;
  padding-bottom: 2.9rem;
}
.footer-bottom .container {
  width: 82.5rem;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.footer-contacts {
  padding-top: 3rem;
  width: 28.43rem;
  display: flex;
  flex-direction: column;
  gap: 1.1rem;
}

.footer-contacts .contact {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.footer-contacts p,
.footer-contacts a {
  color: var(--color-white);
  font-weight: 500;
  font-size: 1.125rem;
}

.footer-bottom .footer-contacts .icon-location {
  width: 1.49rem;
  height: 2.08rem;
  margin-right: 0.5rem;
}

.footer-bottom .footer-contacts .icon-contacts {
  width: 1.875rem;
  height: 1.85rem;
}

.footer-bottom .footer-contacts .mail {
  padding-left: 2.8rem;
}

.footer-bottom .footer-map {
  display: block;
}

.footer-bottom .footer-map img {
  width: 35rem;
  height: 18.375rem;
}

.footer-bottom .line {
  margin: 0 auto;
  width: 82.5rem;
  height: 4px;
  border-radius: 2px;
  background: var(--color-white);
}

.footer-bottom .circles {
  position: absolute;
  bottom: 67%;
  z-index: -1;
}
