.grsu-skills-logo {
  display: flex;
  gap: 0.5rem;
  width: fit-content;
  height: fit-content;
  justify-content: center;
  align-items: center;
  margin-top: 2.93rem;
  width: 100%;
}

.grsu-skills-logo .logo-icon {
  object-fit: contain;
  height: 2.2rem;
  width: 2.2rem;
}

.grsu-skills-logo .logo-text {
  width: 7.9rem;
  height: 1.59rem;
}
