.glossary-header {
  background: url(../../assets/images/autumn-small.svg);
  background-size: cover;
  width: 100%;
  height: 16.25rem;
  border-radius: 0 0 20px 20px;
  box-shadow: 0 4px 4px var(--color-shadow);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3.5rem;
  padding-bottom: 3rem;
}

.glossary-main {
  padding-top: 3.75rem;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.glossary-main .bg {
  top: -3rem;
  object-fit: cover;
  position: absolute;
  z-index: -1;
  user-select: none;
}

.glossary-main .books-left {
  width: 37.375rem;
  height: 22.375rem;
  left: 0;
}

.glossary-main .books-right {
  width: 34rem;
  height: 24.3rem;
  right: 0;
}

.glossary-main p.text {
  align-self: center;
  width: 40rem;
  height: 10rem;
  font-weight: 400;
  font-size: 1.5rem;
  text-align: center;
  line-height: 1.82rem;
  display: block;
  height: fit-content;
}

@media (-webkit-min-device-pixel-ratio: 1.25) {
  .glossary-header {
    height: 15.75rem;
  }
}
