@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700&family=Oswald:wght@200;300;400;500;600;700&display=swap");

@keyframes slideInUp {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes slideInDown {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes flash {
  from {
    outline: 2px solid transparent;
  }
  50% {
    outline: 2px solid rgba(255, 60, 0, 0.507);
  }
  to {
    outline: 2px solid transparent;
  }
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

:root {
  --color-white: #fff;
  --color-gray: #efefef;
  --color-gray-profile: #f8f8f8;
  --color-orange: #f96326;
  --color-foreground: #333333;
  --color-bg-primary: #3e97d5;
  --color-bg-secondary: #376ea7;
  --color-shadow: rgba(0, 0, 0, 0.25);
  --slideInDown: slideInDown;
  --slideInUp: slideInUp;
}

html {
  scroll-behavior: smooth;
  font-size: 16px;
}

body {
  font-family: "Montserrat", sans-serif;
  line-height: 1.375rem;
}

input:-webkit-autofill {
  box-shadow: inset 0 0 0 1000px var(--color-white);
}

h1,
h2,
h3,
h4 {
  display: block;
  color: var(--color-foreground);
}

h1 {
  text-transform: uppercase;
  font-family: "Oswald", sans-serif;
  font-weight: 700;
  color: var(--color-white);
  font-size: 7.5rem;
  text-shadow: 0 8px 8px rgba(0, 0, 0, 0.6);
  margin-bottom: 5rem;
}

p {
  color: var(--color-foreground);
}

.container {
  margin: 0 auto;
}

a {
  color: var(--color-white);
}

img {
  display: block;
  width: 100%;
  object-fit: cover;
}

::-webkit-scrollbar {
  width: 0.3rem;
}

::-webkit-scrollbar-thumb {
  border-radius: 1rem;
  width: 100%;
  background: #979797;
}

@media (-webkit-min-device-pixel-ratio: 1.25) {
  html {
    font-size: 13px;
  }
}
