.specialities-page {
  width: 100%;
  animation-duration: 0.5s;
}

.overlay.visible {
  animation-duration: 0.5s;
}

.specialities-header {
  background: url(../../assets/images/autumn-small.svg);
  background-size: cover;
  width: 100%;
  height: 16.25rem;
  border-radius: 0 0 20px 20px;
  box-shadow: 0 4px 4px var(--color-shadow);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3.5rem;
  margin-bottom: 3.75rem;
}

.specialities-main {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.specialities-main .bg {
  object-fit: cover;
  position: absolute;
  top: 4rem;
}

.specialities-main .trees-left {
  width: 30rem;
  height: 40rem;
  left: 0;
}

.specialities-main .trees-right {
  width: 30rem;
  height: 38rem;
  top: 8rem;
  right: 0;
}

.specialities-main p.text {
  align-self: center;
  width: 40rem;
  height: 10rem;
  font-weight: 400;
  font-size: 1.5rem;
  text-align: center;
  line-height: 1.82rem;
  display: block;
  height: fit-content;
}

/* HARDCODE */
.specialities-main .area {
  margin: 0 auto;
  display: flex;
  gap: 5rem;
  flex-direction: column;
  margin-top: 5rem;
  margin-bottom: 4rem;
  justify-content: center;
  align-items: center;
  position: relative;
}

/* --------------SEARCHBAR-------------- */
.sorting-bar {
  display: flex;
  gap: 1.5rem;
  justify-self: center;
}

.sorting-bar .search-input .closed .wrapper {
  width: 3.65rem;
  height: 3.75rem;
  border-radius: 1.875rem;
  background: var(--color-gray);
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 4px var(--color-shadow);
}

.sorting-bar .search-input .closed {
  transition: opacity 0.5s;
  z-index: 2;
  display: none;
  opacity: 0;
}

.sorting-bar .search-input .closed.visible {
  opacity: 100;
  cursor: pointer;
  display: block;
}

.sorting-bar .search-input img {
  pointer-events: none;
  width: 1.811rem;
  height: 1.875rem;
}

.sorting-bar .search-input .opened .wrapper {
  background: var(--color-gray);
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 53.75rem;
  border-radius: 1.875rem;
  height: 3.75rem;
  padding: 0.9375rem;
  gap: 1rem;
}

.sorting-bar .search-input .opened {
  transition: opacity 0.5s;
  border-radius: 1.875rem;
  box-shadow: 0 4px 4px var(--color-shadow);
  z-index: 2;
  opacity: 0;
  display: none;
  position: absolute;
}

.sorting-bar .search-input .opened.visible {
  opacity: 100;
  display: block;
}

.sorting-bar .search-input .opened input {
  background: var(--color-gray);
  font-family: inherit;
  font-weight: 500;
  width: 100%;
  font-size: 1.2rem;
}

/* ----------PICKER----------- */
.sorting-bar .picker {
  display: flex;
}

.sorting-bar .picker .choose-faculty {
  background: var(--color-orange);
  height: 3.75rem;
  width: 12.6875rem;
  border-radius: 1.875rem;
  padding-left: 1rem;
  box-shadow: 0 4px 4px var(--color-shadow);
  display: flex;
  align-items: center;
}

.sorting-bar .picker .choose-faculty p {
  font-weight: 700;
  font-size: 1.125rem;
  line-height: 1.37rem;
  color: var(--color-white);
  display: block;
  width: 8.125rem;
  height: fit-content;
  margin-left: 1rem;
}

.sorting-bar .picker .faculty {
  display: flex;
  width: 39.81rem;
  height: 3.75rem;
  background: var(--color-gray);
  border-radius: 1.875rem;
  align-items: center;
  padding: 1.17rem;
  text-align: center;
  position: relative;
  left: -3rem;
  box-shadow: 0 4px 4px var(--color-shadow);
  z-index: 0;
}
.sorting-bar .picker .faculty img {
  width: 1.4rem;
  height: 0.8rem;
  cursor: pointer;
}

.sorting-bar .picker .faculty p {
  line-height: 1.52rem;
  font-weight: 700;
  display: block;
  height: fit-content;
  font-size: 1.25rem;
  width: 100%;
}

/*------------------MODAL----------------- */

.faculty-modal {
  z-index: 2;
  transition: opacity 0.5s;
  position: absolute;
  /* top: 0;
  right: 0; */
  left: 15%;
  top: 15%;
  display: none;
  opacity: 0;
}

.faculty-modal.opened {
  opacity: 100;
  display: block;
}

.faculty-modal ul {
  background: var(--color-gray);
  width: 41.31rem;
  height: 36.625rem;
  border-radius: 1.875rem;
  box-shadow: 0 4px 4px var(--color-shadow);
  padding: 0.625rem 1.875rem;
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  justify-content: center;
  padding-bottom: 2.25rem;
}

.faculty-modal li {
  height: 2.5rem;
  width: fit-content;
  border-radius: 1.25rem;
  box-shadow: 0 4px 4px var(--color-shadow);
  background: #f8f8f8;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.2rem 1.5rem;
  font-size: 1.125rem;
  font-weight: 500;
  cursor: pointer;
}

.faculty-modal li.active {
  background: var(--color-orange);
  color: var(--color-white);
}

/* -----------SPECIALITIES LIST---------------- */

.specialities-list {
  display: grid;
  grid-gap: 1.25rem;
  padding-right: 1.2rem;
}

.specialities-list .row {
  display: grid;
  grid-template-columns: 11.25rem 18.75rem 12.5rem 7.5rem;
  grid-gap: 1.25rem;
}

.specialities-list .row div {
  text-transform: uppercase;
  border-radius: 1.25rem;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.875rem;
}

.specialities-list .row.speciality div {
  padding: 0.5rem 1rem;
}

.specialities-list .table-header div {
  background: #c4c4c4;
  font-weight: 600;
  padding: 0 0.6rem;
}

.specialities-list .row.speciality div.f-col,
.specialities-list .row.speciality div.t-col,
.specialities-list .row.speciality div.four-col {
  background: var(--color-gray);
  font-weight: 400;
}

.specialities-list .row.speciality div.s-col {
  background: #f8f8f8;
  box-shadow: 0 4px 4px var(--color-shadow);
  font-weight: 600;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.specialities-list .spec-form {
  grid-column: 3 / 5;
  display: grid !important;
  grid-gap: 0.625rem;
  padding: 0 !important;
}

.specialities-list .spec-form .form-row {
  display: grid;
  grid-template-columns: 12.5rem 7.5rem;
  grid-gap: 1.25rem;
  padding: 0 !important;
  height: 100%;
}

.specialities-list .spec-form .form-row div {
  height: 100%;
}

@media (-webkit-min-device-pixel-ratio: 1.25) {
  .specialities-header {
    height: 14rem;
  }
  .specialities-header .grsu-skills-logo {
    margin-top: 1.5rem;
  }
  .specialities-main p.text {
    width: 37rem;
    font-size: 1.4rem;
    line-height: 1.6rem;
  }

  .specialities-main .bg {
    top: 5rem;
  }
  .specialities-main .trees-left {
    width: 26rem;
    height: 36rem;
    left: 0;
  }

  .specialities-main .trees-right {
    width: 26rem;
    height: 34rem;
    top: 8rem;
    right: 0;
  }
}
