.specialities-header {
  background: url(../../assets/images/autumn-small.svg);
  background-size: cover;
  width: 100%;
  height: 16.25rem;
  border-radius: 0 0 20px 20px;
  box-shadow: 0 4px 4px var(--color-shadow);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3.5rem;
  margin-bottom: 3.75rem;
}

.specialities-main {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.specialities-main .bg {
  object-fit: contain;
  position: absolute;
  top: 4rem;
  user-select: none;
}

.specialities-main .trees-left {
  width: 28rem;
  height: 38.5rem;
  left: 0;
}

.specialities-main .trees-right {
  width: 30rem;
  height: 38rem;
  top: 7rem;
  right: 0;
}

.specialities-main p.text {
  align-self: center;
  width: 40rem;
  height: 10rem;
  font-weight: 400;
  font-size: 1.5rem;
  text-align: center;
  line-height: 1.82rem;
  display: block;
  height: fit-content;
}

@media (-webkit-min-device-pixel-ratio: 1.25) {
  .specialities-header {
    height: 15.75rem;
  }
}
